.graphContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 35px;
}

.graphContainer .resultContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.graphContainer .graph {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.graphContainer .resultAnswer {
  text-align: left;
  font-size: 21px;
  margin-bottom: 8px;
}

.graphContainer .resultAnswer::first-letter {text-transform:uppercase}


.voteCount, .votePercentage {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 50px;
  font-size: 21px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-right: 6px;
}

.voteCount {
  width: 90px;
}

.votePercentage {
  width: 65px;
}

.voteBarContainer {
  flex-grow: 1;
}

@keyframes slideInFromLeft {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.voteBarContainer .voteBarInner {
  min-height: 50px;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  transform-origin: bottom left;
}


