.viewPoll {
  text-align: center;
}
.anonText {
  display: flex;
  align-items: center;
}


.viewPoll .pollQuestion {
  font-size: 30px;font-weight:lighter!important;line-height:1.2;
  color: #FFF;
  margin: 0px 0px 45px 0px;padding-left:30px;padding-right:30px;line-height:1.2;padding-top:30px;padding-bottom:30px;
background: #006ea5; /* Old browsers */
background: -moz-linear-gradient(top, #006ea5 0%, #282170 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #006ea5 0%,#282170 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #006ea5 0%,#282170 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ea5', endColorstr='#282170',GradientType=0 );

}

.pollQuestion::before {
    content: "Question: ";color:#53bbbe;font-weight:bold;
}

@media only screen and (max-width: 590px) {
  .viewPoll > div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }



  .mainRow .detailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;order: 2;
  }

  .detailsContainer .field {
    font-size:16px;
    margin: 10px 20px !important;
  }

  .contentContainer {
    margin-top:60px;
  }

  .mainRow {
    flex-direction: column!important
  }
  .answersSpacer {
    display: none !important;
  }

  .answersContainer {
    padding: 0 20px;
    align-items: center;order: 1;margin-top:-70px;
  }

  .answer {
      width: calc(100% - 30px);
  }
}


.viewPoll .pollQuestion::first-letter {
  text-transform:uppercase!important;
}

.mainRow {
  display: flex;
  flex-direction: row;
  font-size: 21px;
  color: #ffffff;
  margin-bottom: 40px;
}

.mainRow .detailsContainer {
  flex: 1;
  text-align: left;
  font-size: 23px;
  line-height: 40px;
  margin-top: 10px;min-width:220px;
}

.mainRow .contentContainer {
  flex: 2
}

.detailsContainer .field {
  display: flex;
  align-items:center;
  margin-bottom: 20px;
  margin-left: 55px;color:#000;
}

.detailsContainer .field img {
  height: 30px;
  width: 30px;
  margin-right: 12px;
}

.socialContainer {
  width: 100%;
  display: flex;
  flex-direction: column;margin-bottom:30px;background:#d4d6da;padding-top:18px;padding-bottom:12px;
}
.signupContextContainer {
  width: 100%;
  display : flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background: #323335;
  padding-top: 18px;
  padding-bottom: 12px;
  height: 35px;
}

.socialContainer .socialBanner {
  width: 100%;
  font-size: 24px;
  text-align: center;
  color: #000;
  padding: 5px 0;
}

.socialContainer .socialButtons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialContainer .socialButtons img {
  width: 50px;
  height: 50px;
  margin: 0px 5px 0 5px;
}

.socialContainer .socialButtons img:hover {
  cursor: pointer;
  filter: brightness(90%);
  transition: filter 100ms linear;
}

.viewPoll .summaryContainer {
  margin-bottom: 30px;
}

.viewPoll .disqusContainer {
  margin-bottom: 30px;
  padding: 0 35px 0 35px;
}

.socialContainer .voteButton {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 5px 50px;
  margin: 10px 0;
  font-size: 30px;
  background-color: #01bec0;
  border-radius: 30px;
}

.signupContextContainer .signupButtonViewPoll .signupImage{
	height: 20px;
	float: right;
	margin-right: 10px;
	vertical-align: middle;
	display: inline-block;
  margin-top: 5px;
  margin-left: -40px;

}
.signupContextContainer .signupButtonViewPoll .signupButtonViewPollText{
  font-size: 14px;
  height: 20px;
  text-align: center;
  float: center;
  line-height: 0px !important;
  vertical-align: middle;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}
.signupbuttonViewPoll:active {
outline: none;
border: none;
}

.signupButtonViewPoll {
  width: 140px;
  height: 30px;
  border-radius: 25px;
  border: none;
  background: #ef7245 !important;
  color: #ffffff;
  font-size: 22px;
  line-height: 50px;
  cursor: pointer;
  transition: background-color 100ms linear;font-weight:300;margin-bottom:8px;
  margin-left: 15px;

}
.signupContextContainer .signupContextText {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 8px !important;
}

.signupButtonViewPoll:hover {transition: background-color 100ms linear;background:#cc5323!important;cursor:pointer!important;}

.pollInstallBanner {
  margin: 15px 0 35px 0;
}
.pollInstallBanner2 {
  margin: 15px 0 10px 0;
}

.socialFeedText {
  font-size: 12px;
}

.socialButton {
  display: inline-block;
  border-radius: 30px;
  padding: 3px 0;
  width: 86px;
  text-align: center;
  cursor: pointer;
}

.socialButton.enabled {
  border: 1px solid #01bec0;
  background-color: #01bec0;color:#fff;transition: background-color 100ms linear;

}

.socialButton.disabled {
  border: 1px solid #a1a2a6;
  background-color: #a1a2a6;color:#FFF;transition: background-color 100ms linear;

}

.field.socialField {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.socialFeedContainer {
  display: flex;
  align-items: center;
}

.voteControl {
  color: #000;
  padding: 8px 25px;
  border-radius: 30px;
  background-color: #d4d6da;
  cursor: pointer;
}
.voteControl2 {
  color: #000;
  padding: 8px 25px;
  border-radius: 30px;
  background-color: #d4d6da;
  cursor: pointer;
  margin-left: 30px;
}

.voteControlContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
