.socialPoll {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 330px;
  height: 85px;
  background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(220,221,226,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(220,221,226,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(220,221,226,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dcdde2',GradientType=0 );padding: 0;padding-top:10px;
  margin: 0 7px 7px 0;-webkit-box-shadow:1px 1px 4px 1px #b3b6bc;
-moz-box-shadow: 1px 1px 4px 1px #b3b6bc;
box-shadow: 1px 1px 4px 1px #b3b6bc;border-radius:4px;
}

@media only screen and (max-width: 400px) { 
  .socialPoll { 
    height: auto !important;
    min-height: 90px !important;
  }

  .socialPoll .pollRight {
    flex: 0 1 !important;
    padding: 0 5px;
  }

  .socialPoll .pollVoteButton {
    font-size: 5vw !important;
    width: 22vw !important;
  }
}


.socialPoll .pollLeft {
  flex-grow: 1;
  height: 100%;
  font-size: 14px;
  padding: 5px 15px;line-height:1.4;
  color: #8a8a8a;
}

.socialPoll .pollRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 120px;
  height: 100%;border-radius:0px 4px 4px 0px;


}

.socialPoll .pollVoteButton {
  width: 95px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: #0bc1c4; /* Old browsers */
  background: -moz-linear-gradient(top, #0bc1c4 0%, #0097a8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0bc1c4 0%,#0097a8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0bc1c4 0%,#0097a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bc1c4', endColorstr='#0097a8',GradientType=0 ); /* IE6-9 */
  color: #ffffff;
  font-size: 18px;
  text-align: center;margin-top:-7px;
}

.socialPoll .resultsButton {
  background: #f98313; /* Old browsers */
  background: -moz-linear-gradient(top, #f98313 0%, #cc5633 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f98313 0%,#cc5633 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f98313 0%,#cc5633 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98313', endColorstr='#cc5633',GradientType=0 ); /* IE6-9 */ 
}

.socialPoll .resultsButton:hover {
  filter: brightness(90%);
  transition: filter 100ms linear;
  cursor: pointer;
}

.socialPoll .pollVoteButton:hover {
  filter: brightness(90%);
  transition: filter 100ms linear;
  cursor: pointer;
}

.textHightlightGreen {
  color: #01bec0;font-weight:bold;
}

.textHightlightBlack {
  color: #000;
}
