.loginContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px;
}

.loginHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 28px;
  margin-bottom: 25px;
}

.loginHeader img {
  height: 75px;
}


.loginText {
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
  padding: 0 40px
}

.loginField2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  max-width: 510px;
  margin-bottom: 10px
}

.loginField2 .loginField2Text {
  flex: 0 0 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #01bec0;
  font-size: 20px;
  height: 46px;
  border-radius:3px 0px 0px 3px;
}

.loginField2 input {
  flex-grow: 1;
  outline: none;
  box-shadow: none;
  font-family: 'Roboto-Light-CPL';
  font-size: 20px;
  height: 46px;
  padding: 0 0 0 10px;
  text-align: left;
  border: none;border-radius:0px 3px 3px 0px;
}

.loginField2 input:focus {
  outline: none;
}

.loginField2 input.loginField2Username{
	letter-spacing: 2px;
}
.loginField2 input.loginField2DesktopCode {
  letter-spacing: 2px;
}

.loginSubText {
  font-size: 12px;
  text-align: center;
  color: #fff;
}
.signupDesc {
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.loginButton {
  width: 140px;
  height: 50px;
  border-radius: 25px;
  padding: 0;
  border: none;
  background: #01bec0;
  color: #ffffff;
  font-size: 22px;
  line-height: 50px;
  margin-top: 30px;
  transition: background-color 100ms linear;font-weight:300;
}
.signupButton {
  width: 240px;
  height: 50px;
  border-radius: 25px;
  padding: 0;
  border: none;
  background: #01bec0;
  color: #ffffff;
  font-size: 22px;
  line-height: 50px;
  margin-top: 30px;
  transition: background-color 100ms linear;font-weight:300;
}
.loginButton:hover {
  background-color: #0191c1;
  transition: background-color 100ms linear;
  cursor: pointer;
}

.installBanner {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 20px 0;
  margin: 30px 0 0 0;
}

.installBannerText {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.installBannerImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.installBannerImages img {
  height: 70px;
  margin: 5px;
}


@media only screen and (max-width: 410px) {
  .loginField2 {
    width: 95vw;
  }

  .loginField2 input {
    width: 50vw;
  }
}

@media only screen and (max-width: 510px) {
  .installBannerImages img {
    height: 13vw;
    margin: 5px;
  }

  .installBannerText {
    font-size: 17px;
    padding: 0 10px;
  }
}
