.categoryList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px -7px 15px 0;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 155px;
  height: 155px;
  margin: 0 7px 7px 0;
  padding: 20px;
  border-radius: 3px;
}

@media only screen and (max-width: 480px) {
  .categoryList {
  position:absolute;left:0;min-width:430px;
}
}

.category:hover {
  cursor: pointer;
  filter: brightness(90%);
  transition: filter 100ms linear;
}

.category img {
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}

.category .categoryImage {
  flex: 1.8;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.category span {
  flex: 1.2;
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}




