.homeHeader {
  display: flex;
  flex-direction: row;
  height: 260px;
  background: #006ea5; /* Old browsers */
background: -moz-linear-gradient(top, #006ea5 0%, #282170 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #006ea5 0%,#282170 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #006ea5 0%,#282170 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006ea5', endColorstr='#282170',GradientType=0 );
  background-blend-mode: multiply;
}

.homeLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  align-items: center;
  justify-content: flex-start;
  padding: 60px 10px 0px 10px;
}

@media only screen and (max-width: 400px) {
.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  margin: 0 !important;
}}


@media only screen and (max-width: 360px) {
  .headerFeatureButton {
    width: 140px !important;
    height: 90px !important;
  }
}

@media only screen and (max-width: 720px) {
  .homeHeader {
    height: 390px!important;
  }
}


@media only screen and (max-width: 850px) {
  .homeHeader {
    display: flex;
    flex-direction: column;
    height: auto !important
  }

 .homeLeft {
    min-width:100%;
    max-height:100px;
    margin: 0 !important;
    padding: 0 !important;
  }

 .homeRight {
    margin: 0 !important;
    padding: 20px 0 !important;
    width: 100% !important;
    flex: 0 !important;
  }

  .searchButton {
    display: none!important;
  }

  .searchInput {
    font-size: 22px;
    width: 90vw !important;
    border-radius:3px!important;
  }

  .homeHeader {
    padding-bottom:20px;
  }

  .searchHeader {display:none;}

  .headerFeatureButton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .searchInputContainer {
    display: flex;
    max-width: none!important;
    justify-content: center;
  }
}

.homeRight {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 340px;
  flex: 0 0 340px;
  margin: 20px;
}

.searchHeader {
  color: #ffffff;
  font-size: 24px;
}

.searchInputContainer {
  display: flex;
  margin-top: 36px;
  width: 100%;
  max-width: 700px;
  flex-direction: row;
  justify-content: center;
}

.searchInput {
  font-family: 'Roboto-Light-CPL';
  padding: 16px 0;
  font-size: 22px;
  width: calc(100% - 200px);
  text-align: center;outline:none; border:none!important;border-radius:3px 0px 0px 3px;
}

.searchInput:focus {
  outline: none; 
}

.searchInput::placeholder {
  opacity: 0.5!important;font-size:18px
}

.searchButton {
  display: flex;
  clear: none;
  align-items: center;
  justify-content: center;
  height: 66px;
  width: 66px;
  flex: 0 0 66px;
  background-color: #01bec0;border-radius:0px 3px 3px 0px;
}

.searchButton:hover {
  background-color: #28a2a6;
  transition: background-color 100ms linear;
  cursor: pointer;
}

.searchIcon {
  height: 33px;
}

.headerFeatureButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 160px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.headerFeatureButton img {margin-top:0px;}

.headerFeatureButtonText {
  color: #fff;
  font-size: 16px;margin-top:-6px;
}

.headerFeatureButton.headerBrowsePolls {
  background: #0bc1c4; /* Old browsers */
background: -moz-linear-gradient(top, #0bc1c4 0%, #0097a8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0bc1c4 0%,#0097a8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0bc1c4 0%,#0097a8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bc1c4', endColorstr='#0097a8',GradientType=0 ); /* IE6-9 */
  transition: background-color 100ms linear;
}

.headerFeatureButton.headerBrowsePolls:hover {
  background: #0bb4ba; /* Old browsers */
background: -moz-linear-gradient(top, #0bb4ba 0%, #00869e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #0bb4ba 0%,#00869e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #0bb4ba 0%,#00869e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0bb4ba', endColorstr='#00869e',GradientType=0 ); /* IE6-9 */    transition: all 200ms;

}

.headerFeatureButton.headerCreateWidgets {
  background: #6390ce; /* Old browsers */
background: -moz-linear-gradient(top, #6390ce 0%, #2e62c9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #6390ce 0%,#2e62c9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #6390ce 0%,#2e62c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6390ce', endColorstr='#2e62c9',GradientType=0 ); /* IE6-9 */;
  transition: background-color 100ms linear;
}

.headerFeatureButton.headerCreateWidgets:hover {
  background: #4982cc; /* Old browsers */
background: -moz-linear-gradient(top, #4982cc 0%, #2a4fb7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4982cc 0%,#2a4fb7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4982cc 0%,#2a4fb7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4982cc', endColorstr='#2a4fb7',GradientType=0 ); /* IE6-9 */    transition: all 200ms;

}

.headerFeatureButton.headerStarPolls {
  background: #384249; /* Old browsers */
background: -moz-linear-gradient(top, #384249 0%, #242d31 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #384249 0%,#242d31 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #384249 0%,#242d31 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#384249', endColorstr='#242d31',GradientType=0 ); /* IE6-9 */
  transition: background-color 100ms linear;transition: background-color 100ms linear;
}

.headerFeatureButton.headerStarPolls:hover {
  background: #2b3238; /* Old browsers */
background: -moz-linear-gradient(top, #2b3238 0%, #181e21 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #2b3238 0%,#181e21 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #2b3238 0%,#181e21 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3238', endColorstr='#181e21',GradientType=0 ); /* IE6-9 */    transition: all 200ms;transition: background-color 100ms linear;

}

.headerFeatureButton.headerSocialPolls {
background: #f98313; /* Old browsers */
background: -moz-linear-gradient(top, #f98313 0%, #cc5633 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f98313 0%,#cc5633 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f98313 0%,#cc5633 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f98313', endColorstr='#cc5633',GradientType=0 ); /* IE6-9 */
  ;transition: background-color 100ms linear;transition: background-color 100ms linear;
}

.headerFeatureButton.headerSocialPolls:hover {
  background: #ef6f13; /* Old browsers */
background: -moz-linear-gradient(top, #ef6f13 0%, #c44e23 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ef6f13 0%,#c44e23 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ef6f13 0%,#c44e23 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef6f13', endColorstr='#c44e23',GradientType=0 ); /* IE6-9 */    transition: all 200ms;transition: background-color 100ms linear;

}

.pollIcon {
  height: 50px;
  margin: 10px;
  opacity: 0.4;
}

.ratingIcon {
  height: 40px;
  margin: 15px;
  opacity: 0.5;
}

.starIcon {
  height: 50px;
  margin: 10px;
  opacity: 1;
}

.socialIcon {
  height: 50px;
  margin: 10px;
  opacity: 1;
}
