.poll {
  display: inline-block;
  position: relative;
  width: 240px;
  min-width:240px;
  height: 170px;
  background-color: #ffffff;
  padding: 0;
  margin: 0 7px 7px 0;
}

.poll .pollTop {

}

.poll .pollTop .pollTopHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poll .pollTop .pollTopQuestion {
  width: calc(100% - 10px);
  word-wrap: break-word;
  padding-left: 10px;
  text-align: left;
  max-width: 225px;
}

.poll .pollBottom {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #e3e1e1;
}

.poll .pollNumber {
  display: flex;
  margin: 10px;
}

.poll .pollNumber img, .poll .pollTimeRemaining img {
  height: 28px;
  margin-right: 8px;
}

.poll .pollTimeRemaining {
  display: flex;
  margin: 10px;
}

.poll .pollVotes {
  display: flex;
  margin: 0 0 0 10px;
  padding: 0;
  align-items: center;
  height: 50px
}

.poll .pollVotes img {
  height: 25px;
  margin-right: 5px;
}

.poll .pollVoteButton {
  width: 120px;
  height: 35px;
  line-height: 35px;
  border-radius: 20px;
  background-color: #01bec0;
  color: #ffffff;
  font-size: 20px;
  margin: 5px 10px;
  text-align: center;
}

.poll .resultsButton, .starPoll .resultsButton {
  background-color: #fb704d !important;
}

.poll .resultsButton:hover, .starPoll .resultsButton:hover {
  background-color: #de6646 !important;
  transition: background-color 100ms linear;
}

.poll .pollVoteButton:hover {
  background-color: #006e76;
  transition: background-color 100ms linear;
  cursor: pointer;
}

.starPoll {
  display: inline-block;
  position: relative;
  width: 350px;
  height: 170px;
  background-color: #ffffff;
  padding: 0;
  margin: 0 7px 7px 0;
}

.starPoll .pollTop .pollStarImage {
  width: 120px;
  height: 114px;
  border-bottom: 6px solid #53bbbe;
}

.starPoll .pollTop .pollStarImage img {
  width: 120px;
  height: 114px;
}

.starPoll .pollTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.starPoll .pollTop .pollTopQuestion {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.starPoll .pollTopName {
  width: calc(100% - 10px);
  text-align: left;
  background-color: #1c1f21;
  color: #e1c464;
  padding: 4px 0 4px 10px;
  font-size: 18px;
}

.starPoll .pollTopQuestionText {
  text-align: left;
  padding: 8px;
}

.starPoll .pollBottom {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #e3e1e1;
}

.starPoll .pollNumber {
  display: flex;
  margin: 10px;
}

.starPoll .pollNumber img, .starPoll .pollTimeRemaining img {
  height: 20px;
  margin-right: 5px;
}

.starPoll .pollTimeRemaining {
  display: flex;
  margin: 10px;
  font-size: 15px;
}

.starPoll .pollVotes {
  display: flex;
  margin: 0 0 0 10px;
  padding: 0;
  align-items: center;
  height: 50px;
  font-size: 15px;
}

.starPoll .pollVotes img {
  height: 25px;
  margin-right: 5px;
}

.starPoll .pollVoteButton {
  width: 120px;
  height: 35px;
  line-height: 35px;
  border-radius: 20px;
  background-color: #01bec0;
  color: #ffffff;
  font-size: 20px;
  margin: 5px 10px;
  text-align: center;
}

.starPoll .pollVoteButton:hover {
  background-color: #018e8f;
  transition: background-color 100ms linear;
  cursor: pointer;
}
