.showMore {
  width: 150px;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  padding: 5px 0;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 100px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.showMore:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background 100ms linear;
  cursor: pointer;
}

