
.templateContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Roboto-Light-CPL';
}

.templateInnerContainer {
  width: 1050px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  border-radius:0px 0px 5px 5px;
  margin-bottom:30px;
  background: #01aabe; /* Old browsers */
          background: #01a1be; /* Old browsers */
          background: -moz-linear-gradient(top, #01a1be 1%, #0380b2 20%, #264b94 45%, #2f367a 66%, #4b227e 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #01a1be 1%, #0380b2 20%,#264b94 45%,#2f367a 66%,#4b227e 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #01a1be 1%, #0380b2 20%,#264b94 45%,#2f367a 66%,#4b227e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01aabe', endColorstr='#4b227e',GradientType=0 ); background-attachment: fixed;
}

.templateHeader {
  width: calc(100% - 33px);
  height: 70px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 33px;
}

.templateHeader img {
  height: 25px;
  cursor: pointer;
}

.templateFooter {
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 30px 0;font-size:11px;opacity:0.5;
}

html {
  min-width:1050px;
}

@media only screen and (max-width: 900px) {
}
