html {
  min-height: 120%;
}
body {
  min-height: 120%;
}

.templateContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  font-family: 'Roboto-Light-CPL';
}

.templateInnerContainer {
  width: 1050px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  border-radius:0px 0px 5px 5px;
  margin-bottom:30px;
  background-color: rgba(0, 0, 0, 0.07);
}

.templateHeader {
  flex: 0 0 100%;
  height: 70px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 33px;
}

.templateHeader img {
  height: 25px;
  cursor: pointer;
}

.templateFooter {
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 30px 0;font-size:11px;opacity:0.5;
}

@media only screen and (max-width: 1049px) {

  .templateFooter{display:none!important}
  .templateInnerContainer {
    overflow: hidden;
  }
}


@media only screen and (max-width: 1050px) {

  .templateInnerContainer {
    width: 100%!important;
    min-height: none;
  }
}
