.widgetFooter {
  flex: 0 0 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d7d8da;
}

.widgetFooter .voteButton {
  padding: 5px;
  width: 130px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  background-color: #01bec0;
  color: #fff;
  font-size: 20px;
}

.widgetFooter .voteButton:hover {
  filter: brightness(90%);
  transition: filter 100ms linear;
}
